 .anchor {
  text-decoration: none;
  color: aliceblue;
  font-size: 3.125rem;
  font-family: "PT Sans", sans-serif;
  display: flex;
  justify-content: space-around;
  margin: 1.25rem;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
  background-color: grey;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.625rem;
}
 